body {
    margin: 0;
}

.NavBar {
    background-color: crimson;
    border: 1px solid orange;
    display: flex;
    align-items: center;
    padding: 10px;
}

.NavBar img {
    width: 100px;
}

.NavBar h1 {
    color: yellow;
    margin-left: 20;
}