body {
    margin: 0;
}

.NavBar {
    background-color: crimson;
    border: 2px solid orange;
    display: flex;
    align-items: center;
    padding: 10px;
}

.NavBar img {
    width: 100px;
}

.NavBar h1 {
    color: yellow;
    font-size: 40px;
    margin-left: 20px;
}

button {
 background-color:yellow;
 color:darkred;
 padding: 30px 30px;
 margin-left: 10px;
 border: 1px solid orange;
 transition: 0.2s;
 font-style: italic;
 font-size: 30px;
 border-radius: 10px;
 border: 2px solid orange;
 font-weight: bold;
}

button:hover {
    transform: scale(1.05);
}

.buttons {
    margin-left: 100px;
    display: flex;
    flex: 1;
}

.login {
    padding: 5px;
    margin-left: 10px;
}

.login img {
    width: 40px;
}

.Item {
    border: 2px solid orange;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.loginMenu {
    position: relative;
}

#menu {
    position: absolute;
    right: 0;
    top: 50px;
}

#menu button {
  background-color: white;
  color: black;
  padding: 10px 20px;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  border: 1px solid gray;
  border-radius: 5px;
}